# The Base Chain RPC URL
BASE_RPC_URL="https://mainnet.base.org"

# Wallet Private Key (Without 0x prefix if length is 64, or with it depending on ethers setup. Both work in ethers usually).
PRIVATE_KEY=""

# Maximum ETH allowed for sniping a single token
MAX_BUY_ETH="0.1"

# DexScreener API Base URL (optional override)
NEXT_PUBLIC_DEXSCREENER_URL="https://api.dexscreener.com/latest"

# Next Auth / Secret Keys (if needed later)
# SECRET_KEY=

# (Optional) Wallet Connect Project ID for Wagmi / RainbowKit
# Obtenez-en un gratuitement sur https://cloud.walletconnect.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""
